<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team</title>
 </head>
 <body>
  <p>Team Name: #{params[:name]}</p>
  <p> #{params[:coach]}</p>
  <p> #{params[:pg]}</p>
  <p> #{params[:sg]}</p>
  <p> #{params[:sf]}</p>
  <p> #{params[:pf]}</p>
  <p> #{params[:c]}</p>
 </body>
</html>


